.exaluno-container {
    display: flex;
    padding: 8px;
    position: absolute;
}

.exaluno-img{
    width: auto;
    height: 442px;
    position: center;
}

.exaluno-desc{
    position: absolute;
    background-color: black;
    opacity: 0.5;
    bottom: 0;
    width: 295px;
    height: 111px;
}

.exaluno-name {
    position: absolute;
    display: block;
    z-index: 3;
    font-size: 28px;
    bottom: 69px;
    left: 15px;
}

.exaluno-fullName {
    position: absolute;
    display: block;
    z-index: 3;
    font-size: 17px;
    bottom: 44px;
    left: 16px;
}

.exaluno-graduatedIn {
    position: absolute;
    display: block;
    z-index: 3;
    bottom:30px;
}

.exaluno-graduatedYears {
    position: absolute;
    display: block;
    z-index: 3;
    font-size: 13px;
    bottom: 27px;
    left: 16px;
    font-style: italic;
    font-variant-caps: small-caps;
}

.tutorial-container {
    display: flex;
}

.slider {
    position: relative;
    height: 450px;
    width: 336px;
    overflow: hidden;
}

.alice-carousel__wrapper{
    height: 450px!important;
}

@media screen and (min-width: 600px) {
    .exaluno-img{
        width: 580px;
        height: 700px;
    }

    .desktop-paragraph {
        padding: 0 267px  0 0;
    }

    .slider {
        position: relative;
        height: 600px;
        width: 700px;
        overflow: hidden;
    }

    .exaluno-desc{
        width: 580px;
    }

    .alice-carousel__wrapper{
        height: 700px!important;
    }
  }

